/* "Inter", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Inter, sans-serif;
}

@layer base {
	:root {
		--background: rgb(255, 255, 255);
		--foreground: rgb(10, 10, 10);
		--card: rgb(255, 255, 255);
		--card-foreground: rgb(10, 10, 10);
		--popover: rgb(255, 255, 255);
		--popover-foreground: rgb(10, 10, 10);
		--primary: rgb(0, 0, 0);
		--primary-foreground: rgb(250, 250, 250);
		--secondary: rgb(245, 245, 245);
		--secondary-foreground: rgb(23, 23, 23);
		--muted: rgb(245, 245, 245);
		--muted-foreground: rgb(115, 115, 115);
		--accent: rgba(0, 0, 0, 0.05);
		--accent-foreground: rgb(23, 23, 23);
		--destructive: rgb(211, 35, 35);
		--destructive-foreground: rgb(250, 250, 250);
		--border: rgb(228, 228, 228);
		--input: rgb(228, 228, 228);
		--ring: rgb(10, 10, 10);
		--chart-1: rgb(240, 78, 92);
		--chart-2: rgb(46, 153, 95);
		--chart-3: rgb(56, 99, 125);
		--chart-4: rgb(106, 214, 167);
		--chart-5: rgb(255, 218, 130);
		--radius: 0.5rem;
		--sidebar-background: rgb(250, 250, 250);
		--sidebar-foreground: rgb(63, 66, 74);
		--sidebar-primary: rgb(26, 26, 26);
		--sidebar-primary-foreground: rgb(255, 255, 255);
		--sidebar-accent: rgb(244, 244, 244);
		--sidebar-accent-foreground: rgb(26, 26, 26);
		--sidebar-border: rgb(215, 215, 215);
		--sidebar-ring: rgb(0, 122, 206);
	}
	.dark {
		--background: rgb(10, 10, 10);
		--foreground: rgb(250, 250, 250);
		--card: rgb(10, 10, 10);
		--card-foreground: rgb(250, 250, 250);
		--popover: rgb(10, 10, 10);
		--popover-foreground: rgb(250, 250, 250);
		--primary: rgb(250, 250, 250);
		--primary-foreground: rgb(23, 23, 23);
		--secondary: rgb(38, 38, 38);
		--secondary-foreground: rgb(250, 250, 250);
		--muted: rgb(38, 38, 38);
		--muted-foreground: rgb(162, 162, 162);
		--accent: rgb(38, 38, 38);
		--accent-foreground: rgb(250, 250, 250);
		--destructive: rgb(158, 27, 27);
		--destructive-foreground: rgb(250, 250, 250);
		--border: rgb(38, 38, 38);
		--input: rgb(38, 38, 38);
		--ring: rgb(212, 212, 212);
		--chart-1: rgb(55, 125, 255);
		--chart-2: rgb(64, 185, 124);
		--chart-3: rgb(255, 204, 76);
		--chart-4: rgb(159, 82, 255);
		--chart-5: rgb(255, 135, 170);
		--sidebar-background: rgb(26, 26, 26);
		--sidebar-foreground: rgb(244, 244, 244);
		--sidebar-primary: rgb(57, 140, 255);
		--sidebar-primary-foreground: rgb(255, 255, 255);
		--sidebar-accent: rgb(41, 41, 41);
		--sidebar-accent-foreground: rgb(244, 244, 244);
		--sidebar-border: rgb(41, 41, 41);
		--sidebar-ring: rgb(0, 122, 206);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
